/* body {
    background-color:rgb(190, 184, 184);
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}; */
/* #jumbo-tron {
    background-color: bisque;
} */

#map {
    height: 80%;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.Rbutton {
  width: 150px;
  text-align: center;
  margin:0 auto;
}
#submission {
    text-align: center;
    }